dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6624f46d-73be-4d7c-bde2-3991d84b9ab0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="2c9957e3-47b1-4163-8b28-94f6eaf5c9fc" >
		<http:listener doc:name="Listener" doc:id="dc2603ab-a6f7-4b00-be55-9e61fd166e8a" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hi, Dummy"]' doc:name="Set Payload" doc:id="d79007c0-adfb-4a65-ae5d-6906d1b000db" />
	</flow>
</mule>
